.contai {
  text-align: center;
  padding: 20px;
}

.buttonn {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.buttonn:hover {
  background-color: darkblue;
}

.on {
  background-color: green;
}

.off {
  background-color: red;
}